{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="hero-image hero-background">
    <img src="{% static '/images/paintplate.png' %}" alt="Hero Image" />
  </div>
  <div class="silver-banner mb-5">
    <h1 class="text-center mb-3 mt-3">Shopping Cart</h1>
  </div>
  <div class="container mt-4">
    {% if cart_items %}
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart_items %}
              <tr>
                <td>
                  <img src="{{ item.image_url }}" alt="{{ item.name }}" style="width: 50px; height: auto;" />
                  {{ item.name }}
                </td>
                <td>${{ item.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.total_item_price }}</td>
                <td>
                  <form action="{% url 'remove_from_cart' item.product_id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-end">
        <h4>Total: ${{ total_price }}</h4>
      </div>
      <!-- Additional Actions -->
      <div class="d-flex justify-content-between mt-3">
        <a href="{% url 'products:product_list' %}" class="btn btn-outline-light">Continue Shopping</a>
        <a href="#" class="btn btn-light">Proceed to Checkout</a>
      </div>
    {% else %}
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <p class="py-4">
              Your cart is empty. <a href="{% url 'products:product_list' %}">Start shopping</a>.
            </p>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
