{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="hero-image hero-background">
    <img src="{% static '/images/paintplate.png' %}" alt="Hero Image" />
  </div>
  <div class="silver-banner mb-5">
    <h1 class="text-center mb-3 mt-3">Checkout</h1>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8 bg-white p-4 rounded">
        <!-- Adjust col-md-8 as needed for width -->
        <form method="post" class="form-horizontal">
          {% csrf_token %}

          <div class="mt-4 mb-4">
            <h2 class="text-center mb-3">Items</h2>
            <div class="cart-summary p-3 border">
              {% for item in cart_items %}
                <div class="row mb-3">
                  <div class="col-md-2">
                    <img src="{{ item.image_url }}" alt="{{ item.name }}" class="img-thumbnail" style="width: 100%;" />
                  </div>
                  <div class="col-md-10">
                    <div>
                      <strong>{{ item.name }}</strong>
                    </div>
                    <div>${{ item.price }} x {{ item.quantity }}</div>
                    <div>Total: ${{ item.total_item_price }}</div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="total-summary mt-0 p-3 border">
              <div class="text-end">
                <div>Subtotal: ${{ total_price }}</div>
                <div>Shipping: ${{ total_shipping_cost }}</div>
                <div>
                  <strong>Final Total: ${{ final_total }}</strong>
                </div>
              </div>
            </div>
          </div>

          <!-- Contact Section -->
          <div class="mt-4 mb-4">
            <h3 class="text-center mb-3">Contact</h3>
            <div class="contact p-3 border">
              {% if not user.is_authenticated %}
                <!-- Guest checkout form -->
                {{ guest_form.as_p }}
              {% else %}
                <p class="text-center">Checkout as {{ user.email }}</p>
              {% endif %}
            </div>
          </div>

          <!-- Shipping Section -->
          <div class="mt-4 mb-4">
            <h3 class="text-center">Shipping</h3>
            <div class="shipping p-3 border">{{ shipping_form.as_p }}</div>
          </div>

          <!-- Payment Section -->
          <div class="mt-4 mb-4">
            <h4 class="text-center">Payment</h4>
            <div class="payment p-3 border">
              <div id="card-element"></div>
              <div id="card-errors" role="alert"></div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Place order</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
