{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <div class="hero-image hero-background">
    <img src="{% static '/images/paintplate.png' %}" alt="Hero Image" />
  </div>
  <div class="silver-banner mb-5">
    <h1 class="text-center mb-3 mt-3">Checkout</h1>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8 bg-white p-4 rounded">
        <form method="post" class="form-horizontal">
          {% csrf_token %}

          <div class="mt-4 mb-4">
            <h2 class="text-center mb-3">Items</h2>
            <div class="cart-summary p-3 border">
              {% for item in cart_items %}
                <div class="row mb-3">
                  <div class="col-md-2">
                    <img src="{{ item.image_url }}" alt="{{ item.name }}" class="img-thumbnail" style="width: 100%;" />
                  </div>
                  <div class="col-md-10">
                    <div>
                      <strong>{{ item.name }}</strong>
                    </div>
                    <div>${{ item.price }} x {{ item.quantity }}</div>
                    <div>Total: ${{ item.total_item_price }}</div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="total-summary mt-0 p-3 border">
              <div class="text-end">
                <div>Subtotal: ${{ total_price }}</div>
                <div>Shipping: ${{ total_shipping_cost }}</div>
                <div>
                  <strong>Final Total: ${{ final_total }}</strong>
                </div>
              </div>
            </div>
          </div>

          <!-- Contact Section -->
          <div class="mt-4 mb-4">
            <h3 class="text-center mb-3">Contact</h3>
            <div class="contact p-3 border">
              {% if not user.is_authenticated %}
                {% for field in guest_form %}
                  <div class="form-group">
                    {{ field.label_tag }}
                    {{ field|add_class:'form-control' }}
                    {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                      {% for error in field.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                      {% endfor %}
                    {% endif %}
                  </div>
                {% endfor %}
              {% else %}
                <p class="text-center">Checkout as {{ user.email }}</p>
              {% endif %}
            </div>
          </div>

          <!-- Shipping Section -->
          <div class="mt-4 mb-4">
            <h3 class="text-center">Shipping</h3>
            <div class="shipping p-3 border">
              {% for field in shipping_form %}
                <div class="form-group">
                  {{ field.label_tag }}
                  {{ field|add_class:'form-control' }}
                  {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
                  {% if field.errors %}
                    {% for error in field.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>

          <!-- Payment Section -->
          <div class="mt-4 mb-4">
            <h4 class="text-center">Payment</h4>
            <div class="payment p-3 border">
              <div id="card-element"></div>
              <div id="card-errors" role="alert"></div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-secondary">Place order</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
