{% extends 'base.html' %}

{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

  <!-- Hero Image -->
  <div class="hero-image hero-background">
    <img src="{% static '/images/blue_bottles.jpg' %}" alt="Hero Image" />
  </div>

  <!-- Silver Banner -->
  <div class="silver-banner mb-5">
    <h1 class="text-center mb-3 mt-3">Shop Pottery</h1>
    <div class="input-group mb-3 search-box">
      <input type="text" class="form-control custom-search-size" placeholder="Search Products" aria-label="Search Products" />
      <button class="btn btn-outline-secondary custom-search-button" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
    </div>
  </div>

  <!-- Cards with mt-5 -->
  <div class="container mt-3 mb-3">
    <div class="row">
      <!-- Card for Mugs -->
      <div class="col-sm">
        <div class="card mx-auto">
          <img src="{% static 'path/to/mugs.jpg' %}" class="card-img-top" alt="Mugs" />
          <div class="card-body">
            <div class="card-title">Mugs</div>
            <p class="card-text">Shop our unique collection of mugs.</p>
            <a href="#" class="btn btn-light">Shop</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card mx-auto">
          <img src="{% static 'path/to/mugs.jpg' %}" class="card-img-top" alt="Mugs" />
          <div class="card-body">
            <div class="card-title">Plates</div>
            <p class="card-text">Shop our durable and stylish plates.</p>
            <a href="#" class="btn btn-light">Shop</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card mx-auto">
          <img src="{% static 'path/to/mugs.jpg' %}" class="card-img-top" alt="Vases" />
          <div class="card-body">
            <div class="card-title">Plates</div>
            <p class="card-text">Shop our decorative centerpiece vases.</p>
            <a href="#" class="btn btn-light">Shop</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Newsletter Signup -->
  <div class="newsletter-signup">
    <i class="bi bi-mailbox"></i> <a href="#">Sign up for our newsletter and get 10% off</a>
  </div>
{% endblock %}
