{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% block content %}
  <!-- Hero Image -->
  <div class="hero-image hero-background">
    <img src="{% static '/images/paintplate.png' %}" alt="Hero Image" />
  </div>

  <!-- Silver Banner -->
  <div class="silver-banner mb-5">
    <h1 class="text-center mb-3 mt-3">Our Products</h1>
    <div class="input-group mb-3 search-box">
      <input type="text" class="form-control custom-search-size" placeholder="Search Products" aria-label="Search Products" />
      <button class="btn btn-outline-secondary custom-search-button" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row justify-content-center">
      {% for product in products %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <!-- Use product.image.url to access the Cloudinary image URL -->
            {% if product.image %}
              <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" />
            {% else %}
              <!-- Optionally, include a fallback image if product.image is not available -->
              <img src="{% static '/images/plate_teapot.jpg' %}" class="card-img-bottom custom-product-card" alt="Default Image" />
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <a href="#" class="btn btn-light">Add to Cart</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
