@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.navbar-custom {
  background-color: #087990;
  /* Cyan color */
}

.footer-custom {
  background-color: #087990;
  /* Cyan color */
  color: white;
  padding: 10px;
}

.navbar-brand {
font-family: 'Pacifico',cursive;
font-size: 28px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff !important;
}

i {
  font-size: 28px;
  /* Sets the font size for all <i> elements */
}