@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar-custom {
  background-color: #087990;
  /* Cyan color */
}

.footer-custom {
  background-color: #087990;
  /* Cyan color */
  color: white;
  padding: 10px;
}

.navbar-brand {
font-family: 'Pacifico',cursive;
font-size: 28px;
}