@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.navbar-custom {
  background-color: #087990;
}

.footer-custom {
  background-color: #087990;
  color: white;
  padding: 10px;
}

.navbar-brand {
font-family: 'Pacifico',cursive;
font-size: 28px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

i {
  font-size: 28px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #F6F3F3;
}