{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

  <!-- Hero Image -->
  <div class="hero-image hero-background">
    <img src="{% static '/images/blue_bottles.jpg' %}" alt="Hero Image" />
  </div>

  <!-- Silver Banner -->
  <div class="silver-banner mb-5">
    <h1 class="text-center mb-3 mt-3">Search Products</h1>
    <div class="input-group mb-3 search-box">
      <input type="text" class="form-control custom-search-size" placeholder="Search Products" aria-label="Search Products" />
      <button class="btn btn-outline-secondary custom-search-button" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
    </div>
  </div>

  <div class="container mt-5">
    <h1 class="text-center">{% trans 'Sign In' %}</h1>
    <p class="text-center">
      {% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}" class="text-primary">sign up</a> first.{% endblocktrans %}
    </p>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <form method="post" action="{% url 'account_login' %}" class="mt-4">
          {% csrf_token %}
          <div class="mb-3">
            {{ form.non_field_errors }}
            {{ form.login.errors }}
            <label for="id_login" class="form-label">{% trans 'Email or Username' %}</label>
            {{ form.login|add_class:'form-control' }}
          </div>
          <div class="mb-3">
            {{ form.password.errors }}
            <label for="id_password" class="form-label">{% trans 'Password' %}</label>
            {{ form.password|add_class:'form-control' }}
          </div>
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-secondary">{% trans 'Sign In' %}</button>
          </div>
          <div class="mt-3 text-center">
            <a href="{% url 'account_reset_password' %}" class="text-muted">{% trans 'Forgot Password?' %}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
