{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <!-- Hero Image -->
  <div class="hero-image hero-background">
    <img src="{% static '/images/wavebowlplate.jpeg' %}" alt="Hero Image" />
  </div>

  <!-- Silver Banner -->
  <div class="silver-banner mb-5">
    <h1 class="text-center mb-3 mt-3">Log Out</h1>
  </div>
  <div class="container mt-5">
    <h2 class="text-center mb-4">{% trans 'Log out of your Profile' %}</h2>
    <p class="text-center mb-4">
      {% trans 'Come back and visit us again soon!' %}
    </p>
    <div class="d-flex justify-content-center">
      <div class="form-border">
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-secondary btn-sm me-2" onclick="window.history.back();">{% trans 'Back' %}</button>
            <button type="submit" class="btn btn-custom-submit btn-sm">{% trans 'Log Out' %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
