{% extends 'base.html' %}
{% load allauth i18n %}
{% load widget_tweaks %}
{% load static %}
{% block head_title %}
  {% trans 'Signup' %}
{% endblock %}
{% block content %}
  <!-- Hero Image -->
  <div class="hero-image hero-background">
    <img src="{% static '/images/flowerset.jpeg' %}" alt="Hero Image" />
  </div>
  <!-- Silver Banner -->
  <div class="silver-banner mb-5">
    <h1 class="text-center mb-3 mt-3">Sign-up with Us</h1>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="form-border">
          <h2 class="text-center mb-4">{% trans 'Sign Up Details' %}</h2>
          <!-- Form starts here -->
          <form method="post" action="{% url 'account_signup' %}" class="needs-validation" data-tags="entrance,signup">
            {% csrf_token %}
            <!-- Display non-field errors -->
            {% if form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}

            <!-- Email field with error display -->
            <div class="mb-3">
              {{ form.email|add_class:'form-control' }}
              {% if form.email.errors %}
                <div class="invalid-feedback d-block">
                  {% for error in form.email.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            <!-- Password fields with error display -->
            <div class="row">
              <div class="col-md-6 mb-3">
                {{ form.password1|add_class:'form-control' }}
                {% if form.password1.errors %}
                  <div class="invalid-feedback d-block">
                    {% for error in form.password1.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="col-md-6 mb-3">
                {{ form.password2|add_class:'form-control' }}
                {% if form.password2.errors %}
                  <div class="invalid-feedback d-block">
                    {% for error in form.password2.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-secondary btn-sm me-2" onclick="window.history.back();">{% trans 'Back' %}</button>
              <button type="submit" class="btn btn-custom btn-sm">{% trans 'Submit' %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
