{% extends 'base.html' %}
{% load allauth i18n %}
{% load widget_tweaks %}
{% load static %}
{% block head_title %}
  {% trans 'Signup' %}
{% endblock %}
{% block content %}
  <!-- Hero Image -->
  <div class="hero-image hero-background">
    <img src="{% static '/images/flowerset.jpeg' %}" alt="Hero Image" />
  </div>
  <!-- Silver Banner -->
  <div class="silver-banner mb-5">
    <h1 class="text-center mb-3 mt-3">Sign-up with Us</h1>
  </div>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="form-border">
          <h2 class="text-center mb-4">{% trans 'Sign Up Details' %}</h2>
          <!-- Form starts here -->
          <form method="post" action="{{ action_url }}" class="needs-validation">
            {% csrf_token %}
            <div class="mb-3">{{ form.email|add_class:'form-control' }}</div>
            <!-- Use row and col classes for password fields -->
            <div class="row">
              <div class="col-md-6 mb-3">{{ form.password1|add_class:'form-control' }}</div>
              <div class="col-md-6 mb-3">{{ form.password2|add_class:'form-control' }}</div>
            </div>
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-secondary btn-sm me-2" onclick="window.history.back();">{% trans 'Back' %}</button>
              <button type="submit" class="btn btn-custom btn-sm">{% trans 'Submit' %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
