{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="hero-image hero-background">
    <img src="{% static '/images/blue_bottles.jpg' %}" alt="Hero Image" />
  </div>
  <div class="silver-banner mb-5">
    <h1 class="text-center mb-3 mt-3">Your Profile</h1>
  </div>

  <div class="container mt-4">
    <div class="row">
      <!-- Pending Orders -->
      <div class="col-md-4">
        <h2 class="text-center">Pending Orders</h2>
        <div class="card">
          <div class="card-body">
            {% for order in orders %}
              <div class="mb-3">
                <p>Order ID: {{ order.id }}</p>
                <p>Date: {{ order.order_date }}</p>
                <p>Status: {{ order.get_status_display }}</p>
                <a href="{% url 'order_detail' order.id %}" class="btn btn-primary btn-sm">View Item</a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- Addresses -->
      <div class="col-md-4">
        <h2 class="text-center">Addresses</h2>
        <div class="card">
          <div class="card-body">
            {% for address in addresses %}
              <div class="mb-3">
                <p>{{ address.name }}</p>
                <!-- Other address fields -->
                <a href="#" class="btn btn-secondary btn-sm">Edit</a>
                <a href="#" class="btn btn-danger btn-sm">Delete</a>
              </div>
            {% endfor %}
            <a href="#" class="btn btn-primary btn-sm">Add New Address</a>
          </div>
        </div>
      </div>

      <!-- Wishlist -->
      <div class="col-md-4">
        <h2 class="text-center">Wishlist</h2>
        <div class="card">
          <div class="card-body">
            {% for wishlist in wishlists %}
              <div class="mb-3">
                <p>{{ wishlist.product.name }}</p>
                <!-- Other wishlist details -->
                <a href="#" class="btn btn-danger btn-sm">Delete</a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
