{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% block content %}
  <!-- Hero Image -->
  <div class="hero-image hero-background">
    <img src="{% static '/images/paintplate.png' %}" alt="Hero Image" />
  </div>

  <!-- Silver Banner -->
  <div class="silver-banner mb-5">
    <h1 class="text-center mb-3 mt-3">Our Products</h1>
    <div class="input-group mb-3 search-box">
      <input type="text" class="form-control custom-search-size" placeholder="Search Products" aria-label="Search Products" />
      <button class="btn btn-outline-secondary custom-search-button" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
    </div>
  </div>
  <div class="container mt-4 justify-content-center">
    <div class="row justify-content-center">
      {% for product in products %}
        <div class="col-md-4 mb-4">
          <div class="card mx-auto product-card-container">
            <!-- Use product.image.url to access the Cloudinary image URL -->
            {% if product.image %}
              <img src="{{ product.image.url }}" class="card-img-bottom custom-product-card" alt="{{ product.name }}" />
            {% else %}
              <!-- Optionally, include a fallback image if product.image is not available -->
              <img src="{% static '/images/plate_teapot.jpg' %}" class="card-img-bottom custom-product-card" alt="Default Image" />
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <div class="text-end">
                <a href="#" class="btn btn-light">Add to Cart</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination mx-auto justify-content-center">
      {% if products.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo; Previous</span></a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">&laquo; Previous</span>
        </li>
      {% endif %}

      {% for num in products.paginator.page_range %}
        {% if products.number == num %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if products.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next"><span aria-hidden="true">Next &raquo;</span></a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Next &raquo;</span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}
